{
    "presets": [
        [ "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "version": "2022-03" }]
    ]
}